
  .tableWrapper{
    /* width: 100%; */
    margin: 50px;
  }
  
  .table {
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  
  .button {
    margin-right: 30px;
  }